body{
  margin:0;
  padding:0;
}

.companyname{
  padding-left: 60px;
  margin-top: 5px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  border: solid 1px;
}

.log{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

#login{
  border:solid 1px black;
  border-radius: 5px;
  margin-right: 15px;
  padding: 7px;
}

#signup{
  border:solid 1px black;
  border-radius: 5px;
  margin-right: 15px;
  padding: 7px;
}

#first{
  /* border: solid 1px blue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.heading{
  font-size: 50px;
}

.paragraph{
  font-size: 20px;
}

.btn{
  font-size: 20px;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  
}

#metamask{
  width: 550px;
  height: 550px;
  object-fit: contain;
}

#metamask-img{
  display: inline-block;
  position: absolute;
  top: 350px;
  left: 770px;
  width:  250px;
  height: 250px;
  object-fit: contain;
  transform: rotate(348.88deg);
}

#second{
  /* border: solid 1px black; */
  display: flex;
  justify-content: space-around;
  /* top: 500px; */
}



#adv1{
  width: 550px;
  height: 550px;
 
  object-fit: contain;
}

#sub-second{
  position: relative;
  top: 200px;
}

#h3sec{
  font-size: 16px;
  color: #6E7787FF;
}

#h1sec{
  font-size: 48px; 
  color: #171A1FFF;
}
#m1{
  color: #FF568BFF;
}
#m2{
  color: #754FE9FF;
}
#psec{
  font-size:16px;
  color: #6E7787FF;
}

#trans1{
  position: relative;
  top: -270px;
  left: -50px;
  width: 200px;
  height: 181px;
  object-fit: contain;
  transform: rotate(11.43deg); 
}

#trans2{
  position: relative;
  top: -270px;
  left: -50px;
  width: 250px;
  height: 200px;
  object-fit: contain;
  transform: rotate(11.43deg); 
}

#third{
  border: solid 1px black;
  width: 1176px;
  height: 388px;
  position: relative;
  top: -95px;
  left: 150px;
  background: #FAFAFBFF; /* neutral-100 */
  border-radius: 12px; /* border-xl */
  overflow: hidden;
  /* z-index: 1; */
}

#rectangle{
  position: absolute; 
  top: -100px; 
  left: 1029px; 
  width: 269px; 
  height: 188px;
  background: #FF568BFF;
  border-radius: 12px; /* border-xl */
  transform: rotate(5.71deg); 
  z-index: 1;
}

#rectangle1{
  position: absolute; 
  top: 303px; 
  left: -134px; 
  width: 269px; 
  height: 188px; 
  background: #FF568BFF; /* secondary-500 */
  border-radius: 12px; /* border-xl */
  transform: rotate(5.71deg); 
}

#sub-third{
  
    position: absolute; 
    top: 133px; 
    left: 246px; 
    width: 687px; 
    font-family: Inter; /* Body */
    font-size: 18px; 
    line-height: 28px; 
    font-weight: 700; 
    color: #171A1FFF; /* neutral-900 */
}

/* Button 6 */
.button {
  position: absolute; 
  top: 256px; 
  left: 509px; 
  width: 159px; 
  height: 44px; 
  padding: 0 16px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Inter; 
  font-size: 16px; 
  line-height: 26px; 
  font-weight: 400; 
  color: #FFFFFFFF; /* white */
  background: #FF568BFF; /* secondary-500 */
  opacity: 1; 
  border: none; 
  border-radius: 6px; /* border-m */
  box-shadow: 0px 8px 17px #ff568b, 0px 0px 2px #ff568b; /* shadow-l */
}
/* Hover */
.button:hover {
  color: #FFFFFFFF; /* white */
  background: #FF105CFF; /* secondary-600 */
}
/* Pressed */
.button:hover:active {
  color: #FFFFFFFF; /* white */
  background: #C90040FF; /* secondary-700 */
}
/* Disabled */
.button:disabled {
  opacity: 0.4; 
}

#footer{
  border: solid 1px black;
  height: 200px; 
  background: #FAFAFBFF;
}

#f1{
  position: absolute; 
  top: 2596px; 
  left: 187px; 
  font-family: Sarabun; /* Heading */
  font-size: 20px; 
  line-height: 30px; 
  font-weight: 700; 
  color: #171A1FFF;
}

#f2{
  position: absolute; 
  top: 2636px; 
  left: 187px; 
  font-size: 16px; 
  line-height: 20px; 
  font-weight: 400; 
  color: #424955FF;
}



.email-input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 250px;
    position: absolute;
    top: 2600px; 
    left: 887px; 
}

.submit-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 2600px; 
    left: 1170px; 
}

.submit-button:hover {
    background-color: #45a049;
  
}
